body {
    background-color: #282828;
    background-image: url(../img/background.jpg);
    background-position: center middle;
}

.orangeBox {
    background-color: #EEEEEE;
    /* background-image: url(../img/orange_bkg.png); */
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.orangeBox .title {
    cursor: pointer;
    font-size: 17px;
    font-style: italic;
    color: #fff;
    padding-left: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(6, 6, 6, 17);
}
.orangeBox .content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary {
    background-color: #FF5500;
    border-color: #c64400;
    color: #fff;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #aa3f00;
    border-color: #772c00;
    color: #fff;
}

.loginImg{
    margin-bottom: 20px;
}

a {
    color: #FF5500;
    text-decoration: none;
}

footer {
    color: #e3e3e3;
}

.error > .panel-heading {
    background-color: #f5878a;
    border-color: #e84545;
    color: #333;
}
.error > .panel-heading {
    background-image: linear-gradient(to bottom, #f5878a 0px, #e84545 100%);
    background-repeat: repeat-x;
}

.panel {
    background-color: #EEEEEE;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}